{% extends "base.html" %}
        
{% block content %}
<!doctype html>
<html lang="en">
   <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="d-flex align-items-center" style="width: 100%; height: 100%;">
            <div class="card text-center mx-auto mb-4 border-0" style="width: 80%; height: 50%;">
                <div class="card-body">
                    <p class="card-text">Hello, welcome to world of fonts.</p>
                </div>
                <div class="card-text text-left">
                    <h2>Contact at:</h2>
                    <p>
                        <strong>Email:</strong>
                        <a href="mailto:swechha16.05@gmail.com">swechha16.05@gmail.com</a>
                        <br>
                        <strong>Linkedin:</strong>
                        <a href="https://www.linkedin.com/in/swechha-71a76990/">https://www.linkedin.com/in/swechha-71a76990/</a>
                    </p>
                </div>
            </div>
        </div>     
    </body>
</html>
{% endblock %}