<html>
    <head>
      {% if title %}
      <title>{{ title }} - CopyCat</title>
      {% else %}
      <title>Welcome to CopyCat</title>
      {% endif %}
    </head>
    <body>
        <div>
            CopyCat:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/draw">Write</a>
            <a href="/generate">Generate</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
        
    </body>
</html>