{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        function onenter() {
            inp = document.getElementById('text')
            if (window.event && window.event.keyCode == 13) {
                inp.blur();
            }
        }
        function loading() {
            $('#gen_button').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Generating...').addClass('disabled');
            $.ajax({
                type: "POST",
                url: "/generate",
                success: function (response) {
                    $('#gen_button').addClass('active');
                    console.log("active");
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>
</head>

<body>
    <div class="conatiner" style="width: 100%; height: 100%;">
        <form action="/generate" method="post" onsubmit="loading()">
            <div class="form-row">
                <div class="col">
                    <input id="text" type="text" name="text" class="form-control" placeholder="write some text..."
                        onkeypress="onenter()">
                    {% if message %}
                    <p style="color:rgb(230, 53, 53);">*{{ message }}</p>
                    {% endif %}
                </div>
                <div class="col">
                    <button id="gen_button" class="btn btn-primary" type="submit" name="gen-writing">Generate</button>
                </div>
            </div>
            <div class="form-row" style="margin-left:3px">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="styleOptions" id="radio1" value="defaultStyle"
                        checked>
                    <label class="form-check-label" for="radio1">Default style</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="styleOptions" id="radio2" value="yourStyle">
                    <label class="form-check-label" for="radio2">Your style</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-1">
                    <label for="bias_range">Bias:</label>
                </div>
                <div class="col-1">
                    <span class="mr-2 mt-1" id="bias"></span>
                </div>
                <div class="col-3">
                    <input type="range" name="bias" class="custom-range border-0" min="0" max="10" step="0.5" value="8"
                        id="bias_range">
                </div>
            </div>
        </form>
        <div class="card">
            <h6 class="card-header">Original style</h6>
            <div class="card-body d-flex justify-content-center">
                <div class="thumbnail"
                    style="border: 1px solid rgb(28, 187, 192); border-radius: 5px; width:60%;height:100px;">
                    <img src="{{ org_src }}" class="card-img-top" style="object-fit: contain; width:100%;height:100%;">
                </div>
            </div>
        </div>
        <div class="card" style='padding-bottom: 5px'>
            <h6 class="card-header">Text: "{{ text }}" Bias: {{ bias }}</h6>
            <div class="card-body d-flex flex-column align-items-center">
                {% for sample in samples %}
                <div class="thumbnail"
                    style="border: 1px solid rgb(28, 187, 192); border-radius: 5px; width:60%;height:100px;">
                    <img src="{{ sample }}" style="object-fit: contain; width:100%;height:100%">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var slider = document.getElementById("bias_range");
        var output = document.getElementById("bias");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>
</body>

</html>
{% endblock %}