<html>
   <title>Handwriting Monkey</title>
   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <style>
            body {width: 100%;
                  position: fixed; 
                  height: 100%; 
                  overflow: hidden;
                  touch-action: none
            }
            
        </style>
        </head>
   <body>
        <form action="" method="post">
            Text<input id="text" type="text" name="text" value="">
            <br>
            <p>{{ result }}</p>
            <svg id="svg1" name='writing-svg' baseProfile="full" height="200" width="100%" version="1.1" 
                style="border: 1px solid black;"
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xlink="http://www.w3.org/1999/xlink"
                onmousedown="mouseDown(evt)" onmouseup="mouseUp(evt)" onmousemove="mouseMove(evt)"
                ontouchstart="mouseDown(evt)" ontouchmove="mouseMove(evt)" ontouchend="mouseUp(evt)">
                <script type="text/JavaScript">
                    <![CDATA[
                        var svg = document.getElementById("svg1");
                        var pt = svg.createSVGPoint();
                        isDrawing = false;

                        function alert_coords(evt) {
                            
                            if(evt.targetTouches) {
                                // Prefer Touch Events
                                pt.x = evt.targetTouches[0].clientX;
                                pt.y = evt.targetTouches[0].clientY;
                            } else {
                                pt.x = evt.clientX;
                                pt.y = evt.clientY;
                            }
                            // The cursor point, translated into svg coordinates
                            var point =  pt.matrixTransform(svg.getScreenCTM().inverse());
                            return point;
                        }
                        function mouseDown(evt) {
                            point = alert_coords(evt);
                            isDrawing = true;
                            var path = document.getElementById("path1");
                            var d = path.getAttributeNS(null, "d") + "M"+ point.x + "," + point.y+ " ";
                            path.setAttributeNS(null, "d", d);
                        }
                        function mouseUp(evt) {
                            if (isDrawing === true) {
                                point = alert_coords(evt);
                                var path = document.getElementById("path1");
                                var d = path.getAttributeNS(null, "d") + "M"+ point.x + "," + point.y+ " ";
                                path.setAttributeNS(null, "d", d);
                                isDrawing = false;
                            }
                        }
                        function mouseMove(evt) {                         
                            if (isDrawing === true) {
                                point = alert_coords(evt);
                                var path = document.getElementById("path1");
                                x = point.x;
                                y = point.y ;
                                var d = path.getAttributeNS(null, "d") + "L"+ x + "," + y + " ";
                                path.setAttributeNS(null, "d", d);
                            }
                        }
                    ]]>
                </script>
                <path id="path1" d="" fill="none" stroke="blue" stroke-width="1" /> 
            </svg>
            <br>
            <button type="submit" name="save-writing">Save style</button>
        </form>
      <img src="{{url}}"/>
   </body>
</html>
